*{
	padding:0px;
	margin:0px;
}
body
{
	background-image:linear-gradient(45deg, purple, pink);
	background-repeat:no-repeat;
	background-size:100% 500px;
}
#navbar
{
	position:sticky;
	z-index:1;
	width:100%;
	height:60px;
	background-color:grey;
	box-shadow:0px 5px 10px black;
}
#mainlist
{
	display:flex;
	list-style-type:none;
}
a
{
	text-decoration:none;
	color:white;
}
.li
{
	padding:20px;
	background-color:rgb(77, 0, 77);
	border:2px solid white;
	height:16px;
	font-size:20px;
}
.li:hover
{
	background-color:pink;
}
.li:hover a{
	color:black;
}
#sublist
{
	list-style-type:none;
	display:none;
}
#sublistplace
{
	width:60px;
	color:white;
	text-align:center;
}
#sublistplace:hover
{
	color:black;
}
.sli
{	
	color:white;
	position:relative;
	top:20px;
	padding-top:5px;
	padding-bottom:5px;
	width:100px;
	right:20px;
	background-color:rgb(77, 0, 77);
	box-shadow:0px 0px 10px black;
}
.sli:hover{
	background-color:pink;
	color:black;
}
#sublistplace:hover #sublist{
	display:block;
}